@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}

.card {
    border-color: rgb(108, 206, 63);
    border-width: 2px;
    border-radius: 10px;
}

.card-title {
    color: black;
    /* font-weight: 600; */
}

.card-text {
    color: black !important;
    font-weight: 400;
}

.card-link {
    padding: 6px !important;
    background-color: rgb(46, 18, 204) !important;
    font-size: 11px !important;
    border-radius: 15px !important;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.card-link:hover {
    color: rgb(255, 255, 255);
    /* text-decoration: none; */
}

.card-p2 {
    padding: 10px !important;
}

/* .form-control {
    width: 500px;
} */

/* textarea {
    width: 500px !important;
} */